.bg {
    background: linear-gradient( rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url('../img/background.jpg'), no-repeat center center fixed;
    -webkit-background-size:cover;
    -mox-background-size:cover;
    -o-background-size:cover;
    -background-size:cover;
    display:block;
    background-size:cover !important;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color:white !important!;
    clear:both;
    height: 100%;
    bottom:0;
    position:relative;width:100%;
    text-align:center
}

body,html {
    height: 100%;
    width: 100%
}

.btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
        font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    color: #16538b;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s
}

.btn-xl{
    padding:20px 30px
}

.fadeInText {
    margin-top: 25px;
    font-size: 21px;
    color:white;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
